*{
    
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;

}
.container{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    
    
}
.mama{
    width: 100%;
    height: 50%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#mama1{
    background-color:chartreuse;
}
#mama2{
    background-color: blue;
}
.first{
    width: 50%;
    height:100%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.second{
    width: 50%;
    height:100% ;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}